.card:hover img{
    transform: scale(1.1, 1.1);
    transition-timing-function: ease-out;
    transition-duration: 500ms;
}
.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}
.card-img-wrapper {
    overflow: hidden;
}
.member-icons {
    bottom: -30%;
    opacity: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}
.card-img-wrapper:hover .member-icons{
    position: relative;
    opacity: 85%;
    bottom: 0;
}
